.logo {
	position: absolute;
	width: 4.8rem;
	margin-left: 2.4rem;
	top: -2.2rem;
}

.featureLogo {
	margin-left: 3rem;
}

@media screen and (min-width: 1440px) {
	.logo {
		width: 8.8rem;
		margin-left: 4rem;
		top: 3rem;
	}
}
